h1{
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 32px;
}

form{
  padding: 3% 1%;
  text-align: center;
  margin: auto;
  height: 450px;
  width: 28%;
  font-size: 20px;
  
}

input{
  width: 320px;
  font-size: 11px;
  padding: 2px;
}

#btns{
  margin-left: 28%;
  margin-bottom: 2%;
}

#btns>button{
  padding: 12px 19px;
  font-size: 17px;
  border: none;
  background-color: rgb(20, 144, 148);
}


#submit{
  font-size: 19px;
  padding: 6px;
  background-color: rgb(16, 17, 19);
  color: rgb(217, 235, 248);
}

#navbar{
  margin-bottom: 2%;
}

#btnE{
  border: none;
  background: none;
  padding: 6px 22px;
  background-color: rgb(19, 143, 75);
  color: rgb(252, 250, 248);
}

#btnD{
  border: none;
  background: none;
  padding: 6px 22px;
  background-color: rgb(206, 21, 21);
  color: rgb(252, 250, 248);
}